        .about-container {
            padding: 20px;
            /* background-color: #f9f9f9; */
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .about-container h1 {
            color: #e22ab2;
            margin-bottom: 53px;
            text-align: center;
            font-size: 64px;
        }
        .about-container p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 15px;
        }
        .about-container ul {
            margin-bottom: 20px;
        }
        .about-container li {
            margin-bottom: 10px;
        }