<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="about-container">
                <h1 mt-5>Infusette</h1>
                <p>Bienvenue sur notre site ! Nous sommes ravis de vous présenter notre infusette,
                   une solution naturelle spécialement conçue pour soulager les douleurs menstruelles.</p>
                <p>Notre infusette est élaborée avec un mélange unique d'herbes médicinales soigneusement sélectionnées pour leurs propriétés apaisantes.
                   Chaque sachet contient des ingrédients naturels tels que la menthe poivrée, la verveine officinale, et d'autres plantes réputées 
                   pour leur efficacité contre les crampes et les inconforts menstruels.</p>
                <p><strong>Pourquoi choisir notre infusette ?</strong></p>
                <ul>
                    <li><strong>Ingrédients naturels :</strong> Un mélange d'herbes sélectionnées pour leur action bénéfique.</li>
                    <li><strong>Efficacité éprouvée :</strong> Conçu pour offrir un soulagement rapide et durable.</li>
                    <li><strong>Facilité d'utilisation :</strong> Infusez simplement un sachet dans de l'eau chaude pour profiter de ses bienfaits.</li>
                </ul>
                <p>Notre mission est de vous offrir une solution naturelle et efficace pour vous aider à mieux vivre votre cycle menstruel. 
                   Nous croyons que les remèdes naturels peuvent jouer un rôle clé dans votre bien-être quotidien.</p>
                <p><strong>Créé par :</strong> Takwa Ben Algia</p>
            </div>
        </div>
    </div>
</div>